body {
  font-family: "Philosopher", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}

/* bg img */
#hero {
  background: url("../images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  height: 100vh;
  width: 100vw;
}

#signup-block {
  background: url("../images/signup-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  height: 100vh;
  width: 100vw;
}

/* navigation */
.nav-div {
  font-family: "Unica One", cursive;
  font-size: 1.3rem;
  width: 98.756vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-div a {
  color: #8a8e92;
}

.nav-div button {
  background-color: #1894b1;
  font-size: 1.1rem;
}

.nav-before-login {
  font-family: "Unica One", cursive;
  font-size: 1.3rem;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-before-login a {
  color: #8a8e92;
}

.nav-before-login button {
  background-color: #1894b1;
  font-size: 1.1rem;
}

#login-user,
#create-user {
  font-family: "Unica One", cursive;
  font-size: 1.1rem;
  color: #ffffff;
}

.buttn {
  font-family: "Unica One", cursive;
  font-size: 1.1rem;
}

#top-logo {
  width: 150px;
}

#savedblogsbanner {
  font-family: "Lobster", cursive;
  background: url("../images/tech-regulation.jpg");
  background-position: center;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px gray;
}

#createhead {
  font-family: "Lobster", cursive;
  background: url("../images/createblog-image.png");
  background-position: center;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px gray;
}

#focus {
  font-family: "Lobster", cursive;
  background: url("../images/focus.jpg");
  background-position: center;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px gray;
}

#dispBlogs {
  background-color: white;
  border: 1px solid #ccc;
}
#displayblog-image {
  font-family: "Lobster", cursive;
  background: url("../images/displayblogs-image.jpg");
  background-position: center;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px gray;
}
/* Footer */
.footer-css {
  background-color: #e2e2e2;
}

.footer-css h6 {
  font-size: 14px;
}

/* bg-img*/
.bg-head {
  color: white;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.bg-content {
  font-size: 1.8rem;
  color: #707070;
  font-family: "Satisfy", cursive;
}

.container-outer {
  background-image: url(../images/tile.jpg);
  background-repeat: repeat;
}

.savedblogsclass1 {
  background-color: #cde0ec;
  padding: 10px;
  border-bottom: 1px solid #b4b4b4;
  font-size: 14px;
  color: #0e0238;
  line-height: 1.8;
  width: 95%;
}

.savedblogsclass2 {
  background-color: #e6e7e7;
  padding: 10px;
  border-bottom: 1px solid #c7c6c6;
  font-size: 14px;
  color: #05220d;
  line-height: 1.8;
  width: 95%;
}

.bloglistsubDiv {
  font-weight: normal;
  font-size: 16px;
}

.apiheadline {
  font-size: 16px;
  font-weight: bold;
}

.apiauthor {
  font-size: 12px;
  color: rgb(5, 115, 189);
}

.title {
  font-style: italic;
  font-family: "Viga", sans-serif;
  font-size: 1.4rem;
}

#toplogo {
  width: 150px;
}

ul li {
  list-style: none;
  margin-right: 20px;
}

.cardsback {
  background-color: rgb(23, 72, 206);
  padding: 10px;
}

/* How-to-use row 1 */
.main-heading {
  background-color: #e6e7e7;
}

#how-to-use-row1 {
  background-color: #ffffff;
}

.how-to-use-caption {
  font-family: "Abel", sans-serif;
}

.caption-part1 {
  font-weight: 500;
  font-size: 2.4rem;
  margin-right: 30%;
  margin-top: -22%;
}

.how-to-use-img img {
  width: 100%;
  height: 75%;
}

.how-to-use-content {
  background: #000000;
  color: #ffffff;
  opacity: 0.7;
}

.htur1-column-part1-1 {
  margin-left: 3%;
}

.htur1-column-part1-2 {
  margin-left: -9%;
  margin-top: 9%;
}

.htur1-column-part2-2 {
  margin-left: 3%;
  margin-top: 9%;
  z-index: 1;
}

.htur1-column-part2-1 {
  margin-left: -9%;
}

.caption-part2 {
  font-weight: 500;
  font-size: 2.4rem;
  margin-left: 33%;
  margin-top: -22%;
}

.caption-part3 {
  font-weight: 500;
  font-size: 2.4rem;
  margin-right: 20%;
  margin-top: -22%;
}

.carousel-column {
  background-color: #000000;
  opacity: 0.8;
  color: #ffffff;
}

/* About Scetion*/
.about-image img {
  width: 100%;
  height: 100%;
}

.carousel-img {
  background: url(../images/hero-image.jpg);
}

/* About us */
.about-img img {
  margin-left: 5%;
  width: 90%;
  margin-top: -7%;
  border-radius: 10%;
}

.about-card {
  border-radius: 5%;
  border: 1px solid #0e0238;
}

.about-body h5 {
  font-size: 1.8rem;
}

/* Contact Page */
#contact {
  background-color: #0e0238;
  color: #e2e2e2;
}
