body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

/* bg img */
#hero {
  background: url("../images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  height: 100vh;
  width: 100vw;
}

#signup-block {
  background: url("../images/signup-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;

  height: 100vh;
  width: 100vw;
}

/* navigation */
.nav-div {
  width: 100vw;
}

#top-logo {
  width: 150px;
}

/* Footer */
.footer-css {
  background-color: #e2e2e2;
}

.footer-css h6 {
  font-size: 14px;
}

/* bg-img*/
.bg-head {
  color: white;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.bg-content {
  font-size: 1.5rem;
  color: #707070;
}
